/*The colors
FCFFF5
D1DBBD
91AA9D
3E606F
193441
*/

html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body {
  background-color: #193441;
  font-family: "Ubuntu Mono"
}

p, h1, form {
  color: #FCFFF5;
}

.page-content {
  margin: 50px; 50px 0 50px;
}

  /* The Masonry Container */
  .masonry {
    margin: 50px 50px 0 50px;
    max-width: 1000px;
    column-gap: 1.5em;
  }

  /* The Masonry Brick */
  .item {
      margin: 0 0 1.5em;
      padding: 0;
      max-width: 240px;
      background-color: #3E606F;
      border-radius: 5px;
  }

  .item img {
    padding-bottom: .5em;
    margin: 0;
    width: 100%;
  }

  .item p {
    padding: 0 .5em .5em .5em;
    margin: 0;
    width: 100%;
    color: #FCFFF5;
  }

  .item i {
    color: #e86969;
  }

  .icon {
    width: 100px;
    border-radius: 50%;
    margin: 20px;
  }

  .description {
    width: 65%;
    background-color: #3E606F;
    padding: 1em 1em 1.2em;
    border-radius: .75em;
}

  /* Masonry on large screens */
  @media only screen and (min-width: 1024px) {
    .masonry {
      column-count: 4;
    }
  }

  /* Masonry on medium-sized screens */
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
      column-count: 3;
    }
  }

  /* Masonry on small screens */
  @media only screen and (max-width: 767px) and (min-width: 540px) {
    .masonry {
      column-count: 2;
    }
  }


  /*All the slider stuff*/


  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #a1c160;
}

input:focus + .slider {
  box-shadow: 0 0 1px #a1c160;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input {
  height: 1.5em;
  border: none;
  border-radius: .2em;
  background-color: #FCFFF5;
}

input.submit {
  height: 2.1em;
  background-color: #D1DBBD;
  border-color: #D1DBBD;
  border-radius: 2em;
}

form {
  line-height: 2em;
}

.navbar-brand img {
  border-radius: 50%;
}

.bg-light {
  background-color: #193441!important;
}

.navbar-light .navbar-brand {
  color: #FCFFF5;
}

.navbar-light .navbar-nav .nav-link {
  color: #FCFFF5;
}

.navbar-light .navbar-brand:hover {
  color: #D1DBBD;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #D1DBBD;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #91AA9D;
}

.navbar {
  padding: 35px 50px 0;
}